.App {
  text-align: center;
}

body{
  background: #DBF5FA;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.allcontainer {
  display: flex;
  justify-content: center;
}


.little-footie{
  height: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footie-text{
  font-size: 11px;
  padding: 5px;
  margin-top: 5px;
  background: #3FC4DE;
  border-top-left-radius: 20px;
}