.textContainer {
  display: flex;
  flex-direction: column;
  /* background-size: 2000px 2000px; */
  /* background-color: blueviolet; */
  color: black;
  border: 'solid';
  border-color: black;
  border-width: 10;
  /* height: 60%; */
  justify-content: space-between;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {

  display: flex;
  align-items: center;
  margin-left: 10;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}