.home{
  background-color: #E6E1E2;
  background: url('./main.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.home{
  margin-top: 80px;
  overflow: hidden;
  width: 100%;
  min-height: 840px;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}