.profileContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #DBF5FA;
}

.error-msg{
  margin-top: 100px;
}

.profile-cover{
  width: 1200px;
  height: 450px;
  background: lightblue;
}

.cover-img{
  width: inherit;
  height: inherit;
}

.profile-data{
  width: 1200px;
  min-height: 170px;
  background: #a5f3ff;
  display: flex;
}

.profile-img{
  position: relative;
  margin-top: -120px;
  width: 250px;
  z-index: 2;
  height: inherit;
}

.user-img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background: grey;
}

.editprofile{
  position: absolute;
  margin-top: -40px;
  margin-left: 120px;
  border-radius: 20px;
}

.profile-biodata{
  margin-left: 10px;
}

.username{
  font-weight: 600;
  margin-top: -5px;
}

.edit-button{
  margin-top: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.user-website{
  margin-top: -15px;
}

.editbtn{
  border-radius: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.work-data{
  width: 1200px;
  min-height: 450px;
  margin-top: 20px;
  text-align: center;
  background: #a5f3ff;
}

.profile-card-container{
  display: flex;
  justify-content: center;
}

.cards-content-holder{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-work{
  width: fit-content;
  position: absolute;
  z-index: 2;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #00b3db79;
}

.buttonpanel{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new{
  margin-left: 10px;
  border-radius: 60px;
  font-weight: bolder;
}

.cards{
 border-radius: 20px;
  color: white;
}

.work-profile-cards{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  border: solid black 0.5px;
  color: white;
}

.img-card{
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

.work-profile-cards:hover{
  transform: scale(1.02);
  transition-duration: 100ms;
  color: white;
}

.labelInputEdit{
  margin-top: 20px;
  margin-bottom: -30px;
}