.com-detail {
    background-color: #fdfafb;
    border-radius: 18px;
    border: solid 3px #73CDD5;
    box-shadow:0 0 8px #90e1e6;
}

.com-image {
    border-radius: 15px;
    box-shadow:0 0 8px rgb(53, 53, 53);
}

.com-title {
    font-size: 48px;
    font-weight: 700;
    color: #73CDD5;
}

.com-price {
    font-size: 25px;
    font-weight: 700;
    color: #73CDD5;
    border: 2px solid #73CDD5;
    border-radius: 8px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.com-category {
    font-weight: 500;
    font-family: 'Fredoka One', cursive;    
}

.com-desc {
    border-radius: 10px;
    width: 100%;
    border: solid 3px #d5d8d8;
    box-shadow:0 0 8px #aac2c5;
}

.com-desc-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.apply-button {
    font-size: 20px;
    font-weight: 700;
    color: #73CDD5;
    border: 3px solid #73CDD5;
    padding: 8px;
    border-radius: 10px
}

.apply-button:hover {
    cursor: pointer;
    background-color: #73CDD5;
    color: whitesmoke;
}

.user-panel-detail{
    width: inherit;
    margin-right: 50px;
}

.edit-data-button{
    margin-left: 5px;
    margin-right: 5px;
}

.delete-data-button{
    margin-right: 10px;
}