.com-detail {
    background-color: #fafafa;
    border-radius: 18px;
    border: solid 3px #01518e;
    box-shadow:0 0 8px #01518e;
}

.com-image {
    border-radius: 15px;
    box-shadow:0 0 8px rgb(53, 53, 53);
}

.com-title {
    font-size: 48px;
    font-weight: 700;
    color: #01518e;
}

.com-creator {
    font-size: 24px;
    font-weight: 700;
    color: #01518e;
}

.com-price {
    font-size: 25px;
    font-weight: 700;
    color: #01518e;
    border: 2px solid #01518e;
    border-radius: 8px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.com-category {
    font-weight: 500;
    font-family: 'Fredoka One', cursive;    
}

.com-desc {
    border-radius: 10px;
    width: 80%;
    border: solid 3px #01518e   ;
    box-shadow:0 0 8px #a0c5f5;
}

.desc-title{
    font-size: 24px;
    font-weight: 700;
    color: #01518e;
}

.desc-content {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #01518e;
}

.apply-button {
    font-size: 20px;
    font-weight: 700;
    color: #01518e;
    border: 3px solid #01518e;
    padding: 8px;
    border-radius: 10px
}

.apply-button:hover {
    cursor: pointer;
    background-color: #01518e;
    color: whitesmoke;
}

.delete-button {
    font-size: 20px;
    font-weight: 700;
    color: #d57373;
    border: 3px solid #d57373;
    padding: 8px;
    border-radius: 10px
}

.delete-button:hover {
    cursor: pointer;
    background-color: #d57373;
    color: whitesmoke;
}

.user-panel-detail{
    width: inherit;
    margin-right: 50px;
}

.badge-blue {
    background-color: #01518e;
}

.edit-data-button{
    margin-left: 5px;
    margin-right: 5px;
}

.delete-data-button{
    margin-right: 10px;
}