.work-image-container {
    min-height: 90vh;
}

.work-image {
    -webkit-box-shadow: 2px 10px 62px -19px rgb(206, 214, 214);
    -moz-box-shadow: 2px 10px 62px -19px rgba(206, 214, 214);
    box-shadow: 2px 10px 62px -19px rgba(206, 214, 214);
    border-radius: 10px;
}

.work-desc {
    background-color: #f1eeef;
    font-family: 'Fredoka One', cursive;
}

.work-creator {
    font-weight: 500;
    font-size: 28px;
    color: #73CDD1;
}

.work-title {
    font-size: 48px;
    font-weight: 600;
    color: #E71375;
    /* text-transform: uppercase; */
}

.work-story {
    font-weight: 400;
    font-size: 18px;
    color: #73CDD1;
    border: 1px solid #73CDD1;
    border-radius: 5px;
    padding: 4px;
}

.work-category {
    font-weight: 500;
}

