.progress-container {
    padding: 12px;
    background-color: #fbfdff;
    border: solid 3px #73CDD1;
    border-radius: 18px;
    box-shadow:0 0 8px #90e1e6;
}

.popup-container {
    padding: 12px;
    background-color: #fbfdff;
    border: solid 10px #73CDD1;
    border-radius: 18px;
    box-shadow:0 0 20px #90e1e6;
}

.progress-main-title {
    color: #73CDD1;
}

.text-bluish{
    color: #73CDD1;
}

.progress-button {
    font-size: 20px;
    font-weight: 700;
    padding: 2px;
    margin: 3px;
    border-radius: 10px;
    color: #73CDD1;
    border: 2px solid #73CDD1;
}

.progress-button:hover {
    cursor: pointer;
    color: white;
    background-color: #73CDD1;
}

.artist-ava {
    border-radius: 50%;
}

.artist-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.job-title {
    font-size: 25px;
    font-weight: 700;
}

.job-status{
    font-weight: 500;
    color: whitesmoke;
}

.badge {
    background-color: #73CDD1;
}
