.progress-container {
    padding: 12px;
    background-color: #f1eeef;
    border-radius: 12px;
}

.progress-main-title {
    color: #73CDD1;
}

.text-pinky{
    color: #E71375;
}

.progress-button {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    color: #E71375;
    border: 2px solid #E71375;
}

.progress-button:hover {
    cursor: pointer;
    color: white;
    background-color: #E71375;
}

.artist-ava {
    border-radius: 50%;
}

.artist-name {
    font-size: 20px;
    font-weight: 700
}

.job-title {
    font-size: 25px;
    font-weight: 700;
}

.job-status{
    font-weight: 500;
    color: whitesmoke;
}

.badge {
    background-color: #E71375;
}
