.popup-container {
    padding: 12px;
    background-color: #fbfdff;
    border: solid 10px #73CDD1;
    border-radius: 18px;
    box-shadow:0 0 20px #90e1e6;
}

.progress-main-title {
    font-size: 50px;
    font-weight: 700;
    color: #0077b6;
    font-family: 'Balsamiq Sans', cursive;
}

.w-85 {
    width: 90%;
}

.progress-img {
    border-radius: 8px;
    box-shadow: 0px 0px 8px #0077b6;
}

.progress-card {
    width: 600px;
    padding: 12px;
    border: 2px solid #0077b6;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #0077b6;
    color: #03045e;
    background-color: #f5fbff;
}

.title-project {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Balsamiq Sans', cursive;
}

.price-project {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Balsamiq Sans', cursive;
}

.project-relation {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Balsamiq Sans', cursive;
}

.wait-payment {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Balsamiq Sans', cursive;
}

.button-container {
    width: 100%;
}

.progress-button {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    color: #023E8A;
    border: 2px solid #023E8A;
}

.progress-button:hover {
    cursor: pointer;
    color: white;
    background-color: #023E8A;
}

.order-date {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Balsamiq Sans', cursive;
    padding-right: 35px;
}

.badge-current {
    background-color: #023E8A;
    color: whitesmoke;
}

.badge-reject {
    background-color: crimson;
    color: whitesmoke;
}

.badge-done {
    background-color: rgb(38, 143, 38);
    color: whitesmoke;
}
