.registerForm {
    height: 30;
    border-radius: 10px;
}

.registerForm:focus {
    border: #023e8a solid 2px;
    box-shadow: 0px 0px 6px #00b4d8;
}

.register-title {
    font-size: 45px;
    font-weight: 700;
    color: #023e8a;
}

.text-darker-blue {
    color: #023e8a;
}

.btn-darker-blue {
    border: #023e8a solid 2px;
    border-radius: 8px;
    color: #023e8a;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-darker-blue:hover {
    color: whitesmoke;
    background-color: #023e8a;
}
