@font-face {
font-family: 'Bellerose Light:1.0';
font-style: normal;
font-weight: normal;
src: url('../assets/Bellerose.woff') format('woff');
}


.user-area-title {
    font-size: 50px;
    font-weight: 700;
    color: #0077b6;
    font-family: 'Bellerose Light:1.0';
}

.btn-bluish {
    border: solid 3px #023e8a;
    border-radius: 15px;
    color: #023e8a;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .btn-bluish:hover {
    color: whitesmoke;
    background-color: #023e8a;
  }